@model Project.F1.Models.Race

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Race</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FastestLapDriver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FastestLapDriver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Track)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Track.TrackId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RaceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
